
:popover-open {
  border-radius: 10px;
}

::backdrop {
  backdrop-filter: blur(3px);
}

.errorMessage {
  display: none;
  margin-top: 10px;
}

.checkbox-cell {
  vertical-align: middle; /* Center checkbox vertically */
  width: 50px; /* Compact width for the checkbox column */
  text-align: center; /* Center the checkbox horizontally */
}

/* Center content vertically in table cells */
.w3-table td {
  vertical-align: middle; /* Align content vertically */
}

.custom-popover {
  max-height: 90vh;  /* Adjust based on screen height */
  overflow-y: auto;  /* Enable scrolling if content exceeds max height */
  min-width: 600px;
  max-width: 50vh;
}